<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Triinu Klein</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner" >
	<h1>Triinu Klein</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>
	<hr>
	<ul>
		<li><a href="/timenow">Ajainfo</a></li>
		<li><a href="/vanasonad">Vanasõnad</a></li>
		<li><a href="/regVisit">Registreeri oma külastus (txt põhine)</a></li> 
		<li><a href="/regVisitDB">Registreeri oma külastus</a></li> 
		<li><a href="/eestifilm">Eesti film</a></li>
	</ul>
	
</body>
</html>