<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Triinu Klein</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner" >
	<h1>Triinu Klein</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>
	<hr>
	<ul>
		<li><a href="/home">Avaleht</a></li>
		<li><a href="/movieSubmit">Lisa film</a></li>
		<li><a href="/roleSubmit">Lisa positsioon</a></li>
	</ul>
	<hr>
	<h2>Lisa filmiga seotud isik</h2>
	<form method="POST">
		<label for="firstNameInput">Eesnimi: </label>
		<input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi...">
		<br>
		<label for="lastNameInput">Perekonnanimi: </label>
		<input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi...">
		<br>
		<label for="birthDateInput">Sünnikuupäev: </label>
		<input type="date" id="birthDateInput" name="birthDateInput" placeholder="Sünnikuupäev...">
		<br>
		<input type="submit" id="newsSubmit" name="newsSubmit" value="Salvesta">
	</form>
	
</body>
</html>