<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Triinu Klein</title>
</head>
<body>
	<img src="/banner/vp_banner_2024.png" alt="Veebiprogrammeerimise 2024 aasta kursuse bänner" >
	<h1>Triinu Klein</h1>
	<p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>
	<hr>
	<h2>Eesti filmitegelased</h2>
	<ul>
		<% visitor.forEach (function(item){ %>
		<li><%= item.first_name %> <%= item.last_name %>, külastas <%= item.visit_time %></li>
		<% }); %>
	</ul>	
</body>
</html>